node_modules/**
src/**
scripts/**
test/**
.vscode/**
.vscode-test/**
test-results/**
.git/**
.gitignore
package-lock.json
*.vsix
*.gcode.3mf
**/*.gcode.3mf
sample/**
PUBLISHING.md
TESTING.md
resources/large-icon.png
